# folders and files
/vendor
/bin
/runtime
/luya
composer.phar
.DS_Store
.env
/docker/.env
/.env


error.log

/public_html/assets
/public_html/storage
/public_html/confUploads

# project config
/configs/env-local.php
/configs/env-local-db.php
/configs/env.php


#IDE: PHPStorm
.idea/

