/* ============= Base ============= */

/*********** Theme Generic **********/
body { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $theme-text-color-secondary;
	background: $theme-bg-base;
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cstyle type='text/css'%3E line %7B stroke: %23000000; opacity: .3%7D %3C/style%3E%3Cdefs%3E%3Cpattern id='grid' patternUnits='userSpaceOnUse' width='10' height='10' patternTransform='rotate(45) scale(0.5)'%3E%3Cline x1='5' y1='0' x2='5' y2='10' /%3E%3Cline x1='0' y1='5' x2='10' y2='5' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23grid)' /%3E%3C/svg%3E");

}

line {
	color: #00ff26;
}

h1, h2, h3, h4, h5, h6 {
	color: $theme-text-color-primary;
	font-weight: bold;
}

/*
.btn {
	font-weight: bold;
	padding: .375rem 1rem;
	height: 2.75rem;
	@include transition(all 0.4s ease-in-out);
}

.btn:focus, .btn.focus {
	box-shadow: none !important;
}

.btn-primary {
	color: #fff;
}
*/
.form-control {
	/*padding-top: 0.875rem;
	padding-bottom: 0.875rem;*/
	height: 2.75rem;
	border-color: $theme-border-color;
}


.form-group {
	input, select, textarea {
		color: #000 !important;
	}

}


.theme-bg-light {
	background: $theme-bg-light !important;
}
.theme-bg-dark {
	background: $theme-bg-dark !important;
}

/* Languages */
.languages {
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&:not(:last-child){
				padding-right: 1rem;
			}

			&.active {
				font-weight: bold;

				a {
					color: $theme-text-color-primary;
					cursor: default;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}


		}
	}

}


@media (min-width: map-get($grid-breakpoints, "md")) {

	.d-md-grid {
		display: grid !important;
	}

}

.grid {
	grid-template-columns: 1fr 3fr;
}

.a {
	grid-column: 1 ;
	grid-row: 1;
}
.b {
	grid-column: 2 ;
	grid-row: 1/3;
}
.c {
	grid-column: 1 ;
	grid-row: 2 ;
}

.left-column {
	color: #c8ceeb;


	p {
		padding-left: 0.5rem;
	}

	.highlight {
		color: $white;
	}

	.important-dates {
		ul {
			margin: 0;
			padding-left: 0.5rem;
			list-style-type: square;
		}
	}





}

.left-column-header {
	font-family: "Roboto Slab", serif;
  	font-size: .8rem;
	/*text-align: right;*/
	margin: 2rem 0 2rem 0;
	padding: 0;
	color: darken($theme-color-primary, 10%);
	text-transform: uppercase;
	position: relative;

	&:after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		bottom: 0.16rem;
		border-bottom-color: rgba(0, 0, 0, 0.1);
		border-bottom-style: solid;
		border-bottom-width: 1px;


	}
}


.navbg {
	background: $theme-color-primary;
}

/* Header */
.header {
	background: $theme-color-secondary;
	background-image: url("/images/header-bg.jpg");
	z-index: 10;

	.name {
		font-family: $font-family-serif;
		font-weight: bold;
		color: #000;

		a {
			color: #000;

			&:hover {
				text-decoration: none
			}
		}
	}

	.btn-primary {
		background: rgba(0, 0, 0, 0.3);
		border-color: transparent;
		font-size: 1rem;
		padding-top: 0.5rem;

		&:hover {
			background: rgba(0, 0, 0, 0.4);
			border-color: transparent;
		}
	}
}


nav.navbar-dark {
	background: $theme-color-primary;

	/*height: 100vh;*/
	/*padding: 2rem 1rem;*/

	    .navbar-toggler {
		    @include border-radius(2px);
		    @include opacity(0.8);
		    border: 1px solid rgba(255, 255, 255, 0.8);

		    &:hover {
			    @include opacity(1);

		    }
	    }

	    .navbar-toggler-icon {
		   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	    }

		.nav-item {
			&.active {
				.nav-link {
					font-weight: bold;
					color: $theme-bg-light;
					@include opacity(1);
				   	&:hover {
						text-decoration: none;
						background-color: inherit;
						color: $theme-bg-light;
					}
				}
			}
			.nav-link {
				color: $theme-bg-light;
				@include opacity(0.7);

				&:hover {
					@include opacity(1);
					background-color: $theme-bg-light;
					color: rgba(0, 0, 0, 0.6);
				}
			}


	}
}

.social-list {

	a {
		width: 1.2rem;
		height: 1.2rem;
		display: inline-block;
		text-align: center;
		@include border-radius(50%);
		@include opacity(0.5);

		&:hover {
			@include opacity(1);
		}

	}
}

/* Main wrapper */
.main-wrapper {

	max-width: 2000px;


}


.sponsors {

	figure {
		@include filter(grayscale(100%));
		@include opacity(0.7);

		&:hover {
			@include filter(grayscale(0%));
			@include opacity(1);
		}

	}


}



/* Footer */
.footer {
	//position: fixed;
	//left: 0;
	//width: 100%;
	//bottom: 0;
	color: rgba(256, 256, 256, 0.7);
	a {
		color: #fff;

	}
}
